{
  // Extend existing configuration
  // from ESlint and eslint-plugin-vue defaults.
  "extends": [
    "eslint:recommended"
  ],
  // Enable ES6 support. If you want to use custom Babel
  // features, you will need to enable a custom parser
  // as described in a section below.
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  // Enable custom plugin known as eslint-plugin-vue
  "plugins": [
    "vue",
    "eslint-plugin-promise"
  ],
  "globals": {
    "Vue": true,
    "$": true,
    "jQuery": true
  },
  "rules": {
    // Disable `no-console` rule
    "no-console": 0,
    // Give a warning if identifiers contain underscores
    "no-underscore-dangle": 0,
    "no-debugger": 2,
    "no-unused-vars": 0,
    "no-extra-boolean-cast": 0,
    "no-mixed-spaces-and-tabs": 0,
     // ------------------------ Pomise 强制的风格 --------------------------------
    // 调用 Pomise 函数时，必须有 .catch(callback) 或者用 return 返回当前 Promise 对象
    'promise/catch-or-return': ['off'],
    // new Promise() 时，函数的参数名只能为标准的 resolve, reject
    'promise/param-names': 'error',
  }
}
